
#header {


    border: none; /* Убираем границу */
    background-color: #714cfe; /* Цвет линии 03DAC6 */ 
    color: #03DAC6; /* Цвет линии для IE6-7 */

}
#header2
{
     border: none; /* Убираем границу */
    height: 57%;
    background-color: #67daff; /* Цвет линии 03DAC6 */ 
    color: #403635;
 
}

#contact_head
{
 
color: white;

}

#contact_head a
{

color: white;
}
#mform
{
    padding-top: 5%;
 
}



#vertical-allign
{color: white;
   
}
#txtimg
{
 vertical-align: middle ;
    top: 100px;
}

#example-text-input
{
    max-width: 500px;
}
#foo
{
   
    padding-top: 9%;
}
#findlogo
{

  width: 25%; height: 25%;
}

#foo2
{ 
    padding-bottom: 1%;
    border: none; /* Убираем границу */
    background-color: #714cfe; /* Цвет линии 03DAC6 */ 
    color: white; /* Цвет линии для IE6-7 */

}
#foo2 a
{
     color: white;




}